* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {

    font-family: "Roboto", sans-serif;
    background: #ffffff;
    color: #222;

}


header {

    max-width: 1320px;
    margin: auto;
    background: #1f567d;
    color: white;

}



#course-title {

    display: block;
    text-align: center;
    font-size: 2rem;
    padding: 20px;
    font-weight: 700;

}



nav {

    display: flex;
    justify-content: space-around;
    background: #333;
    padding: 15px;

}



nav a {

    color: white;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    transition: .3s;

}



nav a:hover {

    background: white;
    color: #333;

}




main {

    max-width: 1100px;
    margin: 35px auto;

}



h1 {

    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 30px;

}



.cards {

    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;

}



.card {

    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;

}



.card h2 {

    background: #1f567d;
    color: white;
    text-align: center;
    padding: 15px;

}



.about {

    display: flex;
    gap: 20px;
    padding: 20px;

}



.about img {

    width: 170px;
    height: 200px;
    object-fit: cover;

}



.card p {

    line-height: 1.6;
    padding: 10px 20px;

}



h3 {

    text-align: center;
    margin: 20px;

}



.country {

    display: flex;
    align-items: center;

}



figure {

    text-align: center;
    padding: 20px;

}



figure img {

    width: 170px;

}



figcaption {

    font-style: italic;
    font-size: .9rem;

}



.resources ul {

    margin: 50px 30px;
    line-height: 2;

}



footer {

    max-width: 1320px;
    margin: auto;
    background: #1f567d;
    color: white;
    text-align: center;
    padding: 20px;

}



footer p {

    margin: 8px;

}



#lastModified {

    color: #ffff00;

}




@media(max-width:800px) {


    .cards {

        grid-template-columns: 1fr;

    }


    .about,
    .country {

        flex-direction: column;

    }


    nav {

        flex-direction: column;
        text-align: center;

    }


}